@model IEnumerable<AccountManager.Models.Equipment>

@{
    ViewBag.Title = "EditHead";
}

<h2>Изменить снаряжение</h2>

@using (Html.BeginForm())
{
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.BodyPart.BodyPartName == "leg")
            {
                <div class="card col-lg-3 shadow">
                    <img class="img-thumbnail mt-3" src="../Content/images/@(item.ItemName).png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title col-form-label-lg pt-0">@item.ItemName</h4>
                        <p class="card-text">
                            Показатель брони: @item.Armor
                        </p>
                        @if (item.ItemId == ViewBag.Player.Character.LegId)
                        {

                        }
                        else
                        {
                            //@Html.ActionLink("hello", "EditHeadNow", new {model = 4})
                            //<input type="submit" value="Создать аккаунт" class="btn btn-default" />
                            <a href="EditLegNow?id=@item.ItemId" class="btn btn-primary">Изменить</a>
                        }
                    </div>
                </div>
            }
        }
    </div>

}